<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1059799897699-aq0dglhrk2nl2vqlajuc75k802mt7flq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1059799897699-aq0dglhrk2nl2vqlajuc75k802mt7flq</string>
	<key>API_KEY</key>
	<string>AIzaSyDsDxYz11jdTbTpywRXuQJGGnIrwFGXWFQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1059799897699</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jackwong.JobAppTracker</string>
	<key>PROJECT_ID</key>
	<string>jobapp-7b6e8</string>
	<key>STORAGE_BUCKET</key>
	<string>jobapp-7b6e8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1059799897699:ios:287237179e9cd74b394a56</string>
	<key>DATABASE_URL</key>
	<string>https://jobapp-7b6e8.firebaseio.com</string>
</dict>
</plist>